{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-md-3 mb-4"
             style="background-size: cover; background-image: url('/static/assets/img/bot-insta-2.png');">
        </div>
        <div class="col-12 col-md-9 mb-4">
          <div>
            <div class="card-body">
              <h4>Unearth the truth behind social media engagement !</h4>
              <p style="text-align:justify"> Our app tackles the surge of fake accounts, or 'bots', that manipulate posts for undue visibility.
                Specifically designed for scenarios like elections, it helps you identify if likes are from genuine
                users or bots, ensuring transparency. Powered by advanced machine learning, our app distinguishes
                between human and bot interactions.</p>
              <p style="text-align:justify; color:#385DAE; font-style:italic;">Simply paste the Instagram post URL, and our app will analyze the data, providing you with insightful
                results. <br> Uncover the authenticity behind every like with ease !</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center mb-4">
          <div class="mx-6">
            <label class="form-label mb-3" style="font-size: 1.1rem; font-weight:bold; width: max-content;">
              Instagram post URL
            </label>
          </div>
          <div class="input-group input-group-outline mx-3 mb-3">
            <label class="form-label">Paste here...</label>
            <input type="text" class="form-control" id="post-url">
          </div>
          <div class="mb-4">
            <a class="btn bg-gradient-primary mt-4 w-100" type="button" onclick="showResults()">START</a>
          </div>
          <div class="mx-3 mb-4">
            <a class="btn bg-gradient-primary mt-4 w-100" type="button" onclick="reset()">RESET</a>
          </div>
        </div>
      </div>
      <div class="row" id="div-1" style="display: none">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="far fa-thumbs-up"></i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total number of Likes</p>
                <h4 class="mb-0"><span id="total-likes"></span></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span>&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="fas fa-chart-pie"></i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Sample size</p>
                <h4 class="mb-0"><span id="sample-size"></span></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder" id="sample-prc"></span>% of total likes</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Human accounts</p>
                <h4 class="mb-0"><span id="human-size"></span></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder" id="human-prc"></span>% of sample size</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="fas fa-robot"></i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Bot accounts</p>
                <h4 class="mb-0"><span id="bot-size"></span></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder" id="bot-prc"></span>% of sample size</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" id="div-2" style="display: none">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-faded-white shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="pie-chart" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Likes Distribution : Humans vs Bots</h6>
              <p class="text-sm ">in relation to sample size</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Machine Learning analysis </h6>
              <p class="text-sm ">Correlation values</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="learning-curve" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Machine Learning results</h6>
              <p class="text-sm ">Learning curves</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4" id="div-3" style="display: none">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card h-100">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Accounts details</h6>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Verified</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prediction</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Predict probability</th>
                    </tr>
                  </thead>
                  <tbody id="dataTableBody">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Analysis Steps</h6>
              <p class="text-sm">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <span class="font-weight-bold">0.7ms</span> Time Taken
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fab fa-instagram text-primary"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Get the URL of the Instagram post</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Fetch Section</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-tools text-success" ></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Retrieve section</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Machine Learning section</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-question"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Predicted Values</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Prediction Section</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-chart-line text-warning"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Analysis</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Analysis section</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-chart-pie text-danger"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Show Results and Dashboards</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Results section</p>
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step">
                    <i class="far fa-lightbulb text-info"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Insights</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Insight section</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script>
    var humanSize;
    var botSize;
    var likes;
    var users;
    var sampleSize, samplePrc , humanPrc, botPrc;
    var dataList = [];
    var pieChart = null;

    /* **************** static : features with correlation ******************** */
    var correlations = [0.01, 0.42, 0.31, 0.52, 0.24, 0.17 ];
    var features = ["id" ,"verified","followers_count", "friends_count", "description", "profile_image_url" ]
    var ctx2 = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx2, {
      type: "bar",
      data: {
        labels: features,
        datasets: [{
          label: "Correlation",
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: correlations,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          maxBarThickness: 40,
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 9,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    /* ******************** static : learning curves ******************** */
    const train_sizes = [1, 532, 1065, 1597, 2129, 2661, 3194, 3726, 4258, 4791];
    const train_scores_mean = [1.0, 0.86278195, 0.8313615, 0.82855354, 0.82790042, 0.82901165, 0.82961803, 0.83333333, 0.83147017, 0.82913797];
    const validation_scores_mean = [0.59276377, 0.7684078, 0.79195108, 0.79178483, 0.80497557, 0.80881628, 0.80931558, 0.81098615, 0.81165504, 0.81048531];

    var ctx3 = document.getElementById("learning-curve").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: train_sizes,
        datasets: [{
          label: "Train score",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(241, 155, 148, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(241, 155, 148, .8)",
          borderWidth: 3,
          backgroundColor: "transparent",
          data: train_scores_mean
        },
        {
          label: "Val score",
          pointRadius: 5,
          pointBackgroundColor: "rgba(221, 250, 219, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(221, 250, 219, .8)",
          borderWidth: 3,
          backgroundColor: "transparent",
          data: validation_scores_mean
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
        labels: {
          color: '#fff',  // Couleur du texte de la légende
        }
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    /*  ***************** functions : display results ******************* */
    function updateData(humanSize, humanPrc, botSize, botPrc, sampleSize, samplePrc, likes) {
      document.getElementById('human-size').innerHTML = humanSize;
      document.getElementById('human-prc').innerHTML = humanPrc;

      document.getElementById('bot-size').innerHTML = botSize;
      document.getElementById('bot-prc').innerHTML = botPrc;

      document.getElementById('sample-size').innerHTML = sampleSize;
      document.getElementById('sample-prc').innerHTML = samplePrc;

      document.getElementById('total-likes').innerHTML = likes;
    }

    function updateTable(dataList) {
      const tableBody = document.getElementById('dataTableBody');
      tableBody.innerHTML = '';
      dataList.forEach(data => {
        console.log(data)
        const row = document.createElement('tr');

        const userColumn = document.createElement('td');
        userColumn.innerHTML = `<div class="d-flex flex-column justify-content-center"><h6 class="mb-0 text-sm">&emsp;${data.screen_name}</h6></div>`;
        row.appendChild(userColumn);

        const verifiedColumn = document.createElement('td');
        verifiedColumn.innerHTML = data.verified ? `<i class="material-icons text-info text-gradient">verified</i>` : `<i class="text-danger fa fa-times"></i>`;
        row.appendChild(verifiedColumn);

        const predictionColumn = document.createElement('td');
        predictionColumn.className = "align-middle text-center text-sm";
        predictionColumn.innerHTML = `<span class="text-xs font-weight-bold">${data.prediction}</span>`;
        row.appendChild(predictionColumn);

        const probabilityColumn = document.createElement('td');
        probabilityColumn.className = "align-middle";
        probabilityColumn.innerHTML = `<div class="progress-wrapper w-75 mx-auto">
          <div class="progress-info">
            <div class="progress-percentage">
              <span class="text-xs font-weight-bold">${data.probability}%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-gradient-info w-${data.probability}" role="progressbar" aria-valuenow="${data.probability}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>`;
        row.appendChild(probabilityColumn);
        tableBody.appendChild(row);
      });
    }

    /* **************************** functions : extra ************************ */
    function isValidUrl(url) {
      var urlRegex = /^(https?:\/\/)?([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?$/;
      return urlRegex.test(url);
    }

    function resetGraphs() {
      humanSize = 0;
      botSize = 0;
      likes = 0;

      sampleSize = 0;
      samplePrc = 0;

      humanPrc = 0;
      botPrc = 0;

      dataList = [];
      if (pieChart != null) { pieChart.destroy(); }

      // hide the graphs
      document.getElementById("div-1").style.display = "none";
      document.getElementById("div-2").style.display = "none";
      document.getElementById("div-3").style.display = "none";
    }

    function reset() {
      document.getElementById("post-url").value = "";
      resetGraphs();
    }

    /* *********************** pie chart *********************** */
    function updateChart(humanPrc, botPrc) {
      var likesPercentages = [humanPrc, botPrc];
      var ctx = document.getElementById("pie-chart").getContext("2d");

      pieChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: ["Human", "Bot"],
          datasets: [{
            label: "Percentage",
            backgroundColor: ["#9B1442", "#3C4A74"],
            data: likesPercentages
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: true,
               position: 'right'
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
        },
      });
    }

    /* *********************** main function ************************* */
     function showResults() {
      resetGraphs();

      const input = document.getElementById("post-url");
      const inputValue = input.value;

      if (inputValue.trim() === "") {
        alert("Please enter a valid URL.");
        return;
      }

      if (!isValidUrl(inputValue)) {
        alert("Invalid URL. Please enter a valid URL.");
        return;
      }

      // display results
      const data = inputValue;
      fetch('https://instaapi.azurewebsites.net/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(result => {
          console.log(result);
          humanSize = result[0];
          botSize = result[1];
          likes = result[2];
          users = result[3];
          console.log(humanSize);
          console.log(botSize);
          console.log(likes);
          console.log(users);
          sampleSize = users.length;
          samplePrc = 100 * sampleSize / likes;
          samplePrc = parseFloat(samplePrc.toFixed(2));

          humanPrc = 100 * humanSize / sampleSize;
          botPrc = 100 * botSize / sampleSize;
          botPrc = parseFloat(botPrc.toFixed(2));

          for (var i in users) {
            var user = users[i];
            dataList.push({
                screen_name: user[1],
                verified: user[2],
                prediction: user[3],
                probability: Math.floor(user[4]*100)
            });
          }

          updateChart(humanPrc, botPrc);
          updateData(humanSize, humanPrc, botSize, botPrc, sampleSize, samplePrc, likes);
          updateTable(dataList);
          document.getElementById("div-1").style.display = "";
          document.getElementById("div-2").style.display = "";
          document.getElementById("div-3").style.display = "";
      })
      .catch(error => {
          console.error('Error:', error);
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      updateTable(dataList);
    });
  </script>

{% endblock javascripts %}
